<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1098737612863-kkjs816l0cg6orsa1n8khhd7tio7u59r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1098737612863-kkjs816l0cg6orsa1n8khhd7tio7u59r</string>
	<key>API_KEY</key>
	<string>AIzaSyAi1DAVUcB2eymAWLgJY_r6C_6uTxmgytw</string>
	<key>GCM_SENDER_ID</key>
	<string>1098737612863</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.agk.automotive</string>
	<key>PROJECT_ID</key>
	<string>automotive-652d1</string>
	<key>STORAGE_BUCKET</key>
	<string>automotive-652d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1098737612863:ios:6ce5b6f5f60dc8ac94208a</string>
</dict>
</plist>